.ant-table-tbody > tr.hover-row:hover > td {
  background-color: rgb(138, 219, 173) !important;
  cursor: pointer;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  color: rgb(19, 118, 62) !important;
}

.ant-pagination-item-active,
.ant-pagination-item-active > a {
  color: rgb(19, 118, 62) !important;
  border-width: 2px !important;
  border-color: rgb(19, 118, 62) !important;
}
